/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ui-dialog .mdc-dialog__surface {
  border-radius: 0 !important;
}

.toast-success {
  background: #16a34a;
  color: #fff;
}

.toast-error {
  background: #dc2626;
  color: #fff;
}

table {
  td, th {
    @apply whitespace-nowrap;
  }
}
